<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
    </li>

  </ul>
</nav>
<h1 class="text-center"> {{title}} </h1>
<div class="container">
  <router-outlet></router-outlet>

  <!-- <app-create-employee></app-create-employee>
  Jerin
  <app-update-employee></app-update-employee>
  Hello
  <app-employee-list></app-employee-list>
  Jancy
  <app-employee-list></app-employee-list> -->
</div>
<footer class="footer">
  <div class="container">
    <span>All Right Reserved 2020 @JavaGuides</span>

  </div>
</footer>